@import 'reset';
@import 'variable';
@import 'global';
@import 'header';
@import 'company';
@import 'introduce';
@import 'about';
@import 'youcan';
@import 'feature';
h1 {
    color: $primary-color;
    font-size: 100px;
    text-decoration: dashed;
}